* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}
button:disabled{
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

a{
  color:inherit;
  text-decoration: none;
}

select{
  background: transparent;
  outline: none;
}

/* select{
  padding-right: 2rem !important;
} */
.upload{
  width: 100%;
}
.upload label{
  width: 100% !important;
    height: 50px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(238, 238, 238) !important;
    border-image: initial !important;
    max-width: 100%;
}
.subject{
  max-width: 600px; 
}

@media (max-width:420px) {
  .subject{
    max-width: 100%;
    display: block !important;
}
.sc-hjsNop.hsyttD{
    /* width: 50% */
    margin: 20px 0;
}
}