* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}
button:disabled{
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

a{
  color:inherit;
  text-decoration: none;
}

select,input{
  background: transparent;
  outline: none;
}

select{
  padding-right: 2rem !important;
}